<div class="details">
    <div class="data">
        <h1>Detailed View <span class="badge badge-secondary"><%=@search_full_name%></span></h1>
        <h4><b>Key: </b><%= @book['docs'][0]["key"]%></h4>
        <h4><b>Publish Years: </b>
            <ul>
            <% @book['docs'][0]["publish_year"].sort().each do |year|%>
                <li><%= year%></li>
            <%end%>
            </ul>
        </h4>
        <h4><b>Author Name: </b><%= @book['docs'][0]["author_name"][0]%></h4>
        <h4>
            <b>Languages: </b>
            <ul>
                <% @book['docs'][0]["language"].sort().each do |lang|%>
                    <li><%= lang.upcase()%></li>
                <%end%>
            </ul>
        </h4>
        <h4><b>Edition Count: </b><%= @book['docs'][0]["edition_count"]%></h4>
    </div>
    <div class="cover">
        <img src=<%="https://covers.openlibrary.org/b/id/#{@book['docs'][0]["cover_i"]}-M.jpg"%>>
    </div>
</div>