<div class="index">
  <div class="header">
    <h1>Searched Book Name: <b>"<%=@search_text%>"</b></h1>
    <h2>Search Result: <b><%= @books['numFound']%></b> book names matched</h2>
    <%if @books['numFound'] > 20%>
      <h3>Viewing top 20 books</h3>
    <%else%>
      <h3>Viewing top <%= @books['numFound']%> books</h3>
    <%end%>
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Book Title</th>
        <th scope="col">Chief Author Name</th>
        <th scope="col">Latest Publish Year</th>
      </tr>
    </thead>

    <tbody>
    <% @books["docs"].each.with_index do |book, index| %>
      <tr>
        <th scope="row"><%=index + 1%></th>
        <td><%= link_to book['title'], "#{request.base_url}/books/details?search_full_name=#{book['title']}"%></td>
        <td><%=book['author_name'][0]%></td>
        <td><%=book['publish_year'][-1]%></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>